@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 45em;
}

.section-letter {
  text-align: center;
  width: 50%;
}

.section-icon {
  text-align: center;
  width: 50%;
}

section h2 {
  margin: 0;
  font-size: 1.5rem;
}

section p {
  font-size: .9rem;
  margin: 0;
}

section {
  background-color: #e5c30a;
  padding: 1.3rem;
}

@media only screen and (min-width: 25em) {

  .section-letter {
    text-align: center;
    width: 40%;
  }

  .section-icon {
    text-align: center;
    width: 40%;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .section-letter {
    order: 1;
    width: 15%;
  }

  .section-body {
    order: 2;
    width: 45%;
  }

  .section-icon {
    order: 3;
    width: 15%;
  }

  .wrapper {
    align-items: center;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  body {
    max-width: none;
  }

}
